.button {
    background-color: brown;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
}