.pageContainer {
    background-color: #890000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.pageContainer h1 {
    background-color: #00000060;
    padding: 20px;
    border-radius: 20px;
    text-transform: uppercase;
}

.cardsContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background-color: #000;
    color: #FFF;
    padding: 14px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
}

.card:hover {
    background-color: #CC0000;
}

.linkPage {
    text-decoration: none;
    color: black;
}