.pageContainer {
    background-color: burlywood; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moviesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movieCard {
    width: 300px;
    background-color: #ffffff; 
    border: 4px solid rgb(230, 142, 28); 
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}

.searchButton {
    background-color: rgb(230, 142, 28) ;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.searchButton:hover {
    background-color: rgb(248, 146, 12);
}

.movieText {
    font-size: 20px; 
    margin-top: 10px;
    color: #000; 
    text-align: center;
}

.searchArea {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.searchArea input {
    text-align: center;
    padding: 4px;
    width: 300px;
}